
--------------------------------------------------------------------

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.container{
	width:90%;
	margin:0 auto;
}




-----------------------------------------------------------------------
.col-md-6{
	float:left;
	width:50%;
}
.col-md-6{
	float:left;
	width:50%;
}
.col-md-3{
	float:left;
	width:30%;
}
.col-md-9{
	float:left;
	width:70%;
}
.clearfix{
	clear:both;
}
.bg-color{
	background-color:red;
	padding:7px;
}
.Center{
	text-align:center;
}

.nav>ul{
	list-style-type:none;
	padding:10px;
}
.nav>ul>li{
	padding:10px;
	display:inline-block;
}
.nav>ul>li>a{
	text-decoration:none;
	color:black;
}
.nav>ul>li>a:hover{
	color: #b81934;
    font-weight: 700;
}
#En{
	background-color:#502c7a;
	padding:10px 25px;
	border-radius:5px;
	color:white;
}
#En:hover{
	background-color: #b81934;
    font-weight: 700;
}

.Border{
	border:1px solid black;
	margin:100px;
	padding:10px;
}
.w-100{
	width:70%;
}
.bg-img{
	background-image:url('../public/img/f1.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:250px;
}
.col-w{
		color:white;
	}

.fs-25{
	font-size:25px;	
}
.fs-40{
	font-size:40px;	
}
.pd-l{
	    padding-left: 113px
}
.button{
    margin-top: 130px;
    padding: 10px;
    border: 1px solid red;
    background-color: #0f0f7d;
    color: white;
    border-radius: 6px;
}
.m-15{
	margin: 15px;
}
.p-15{
	padding-top:35px;
}
.p-14{
	padding:14px;
}
.p-20{
	padding:20px;
}

.d-flex{
	display:flex;
}
.flex1{
	flex:1;
}
.w-95{
	width:95%;
}
.w-25{
	width:23%;
}
.w-10{
	width:100%;
}
.p-5{
	padding:5px;
}
.bg-colb{
	background-color:#212529;
	color:white;
}
.Center>a{
	text-decoration:none;
	color:white;
	font-weight:bold;
}